<%= render 'shared/errors', obj: incoming_message %>
<tr>
    <td class="mail-ontact">
        <a><%= link_to(incoming_message.mailer, {:action => 'show', :id => incoming_message.id}, :class => 'action show') %></a>
    </td>
    <td class="mail-ontact">
        <a><%= link_to( incoming_message.title, {:action => 'show', :id => incoming_message.id}, :class => 'action show') %></a>
    </td>
    <td class="text-right mail-date"><%=incoming_message.data.strftime("%d-%m-%Y")%></td>         
</tr>