<div class="row">
    <div class="col-lg-14 ">
        <% if @incoming_messages.any? %>
            <div class="mail-box">
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <div class="mail-box-header">
                            <%= render 'shared/page_title', title: "#{ t("un.inbox") }" %> 
                        </div>
                        <p class="text-center">(<%= @incoming_messages.count %>)</p>
                        <tbody>
                            <% @incoming_messages.each do |incoming_message| %>
                              <%= render incoming_message %>
                            <% end %>                        
                        </tbody>
                    </table>
                </div>
            </div>
        <% else %>
        <p>No emails finded.</p>
        <% end %> 
        <%= will_paginate @incoming_messages, :previous_label => t("will_paginate.previous_label"), :next_label => t("will_paginate.next_label") %>
   </div>
</div>