<%= render 'shared/page_title', title: "Listing Incoming messages" %>

<% if @incoming_messages.any? %>
  <div class="bigbox">
    <div class="box">
      <table class="table-minimal">
        <tbody>
          <% @incoming_messages.each do |incoming_message| %>
            <tr>
              <%= render incoming_message %>
            </tr>
          <% end %>
         </tbody>
      </table>
    </div>
  </div>
<% else %>
  <p>No emails finded.</p>
<% end %> 
<%= will_paginate @incoming_messages %>

