<h1>Listing Incoming messages</h1>

<table>
  <thead>
    <tr>
      <th>My file</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incoming_messages.each do |incoming_message| %>
      <tr>
        <% if incoming_message.attachments.present? %>
          <% incoming_message.attachments.each do |attach| %>
            <td><a href="<%= attach %>">Donwload <%= attach %></a></td>
          <% end %>
        <% end %>
        <td><%= link_to 'Show', incoming_message %></td>
        <td><%= link_to 'Destroy', incoming_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


