<h1>Listing Incoming messages</h1>

<div class="col-lg-9 animated fadeInRight">
                <div class="mail-box">
                <% @incoming_messages.each do |incoming_message| %>

                <table class="table table-hover table-mail">
                    <tbody>
                    <tr class="unread">
                        <td class="check-mail">
                            <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox" class="i-checks" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>
                        </td>
                        <td class="mail-ontact"><a href="mail_detail.html"><%= incoming_message.mailer %></a></td>
                        <td class="mail-subject"><a href="mail_detail.html"><%= incoming_message.title %></a></td>
                        <td class=""><i class="fa fa-paperclip"></i></td>
                        <td class="text-right mail-date"><%=incoming_message.data %></td>
                    </tr>
    
                    </tbody>
                </table>
                <% end %> 

                

                </div>
                
                <%= will_paginate @incoming_messages %>
</div>
 
